<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Twitter Analytics</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/search-tweets">Search Tweets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">User Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Followers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Following</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
